<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理页面</title>
</head>
<style>
    .page{
        width:15%;
        height:100%;
        background:lightblue;
        float:left;

    }
    .page .left-wrap a {

        text-decoration:none;
        font-size:32px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .page .left-wrap div{
        text-align:center;
        line-height:70px;
    }
</style>
<body>
        <div class="page left-wrap">
            <div><a href="/admin/index">本校新闻管理</a></div>
            <div><a href="/admin/find">本校校车信息管理</a></div>
        </div>
</body>
</html>