<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        #nav{
            background:orangered;
        }
        button{
            background:orangered;
        }
    </style>
</head>
<body>
    <div id="nav">
        <button type="button" onclick="window.location.href='index.html'">展览</button>
        <button type="button" onclick="window.location.href='submit.html'">提交</button>
        <button type="button" onclick="window.location.href='list.html'">详情</button>
    </div>
    <table>
        <%for(var i=0;i<list.length;i++){%>
        <tr>
            <td><%= (i+1)%></td>
            <td><a href="/list.html?id=<%=list[i].id%>"><%= list[i].title%></a></td>
        </tr>
        <%}%>
    </table>
</body>
</html>