<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>西邮校车</title>
    <link rel="stylesheet" href="http://icono-49d6.kxcdn.com/icono.min.css">
    <link  type="text/css" rel="stylesheet" href="css/index_css.css" />
</head>
<body>
    <div>
            <div class="icono-caretLeftSquare locationa" onclick="cartoonleft()"></div>
            <div class="icono-caretRightSquare locationb" onclick="cartoonright()"></div>
    </div>

    <div class="locate">
        <h2 >校车车次查询</h2>
        <form method="post" action="/find.html">
            <label></label>
            <i class="icono-search"></i><input type="search" name="check" placeholder="搜索" />
        </form>
    </div>
</body>
</html>